.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  font-family: sans-serif;
}

/* Left Side */
.auth-left {
  background: #111827;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.auth-left h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-align: center;
}


/* Right Side */
.auth-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  margin-bottom: 20px;
}

.auth-form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background: #1d4ed8;
}

.switch-text {
  margin-top: 15px;
  text-align: center;
  color: #555;
  cursor: pointer;
}
