.task-card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

/* Top row */
.task-card-top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.task-title {
  font-size: 16px;
  font-weight: 600;
}

.task-menu {
  font-size: 22px;
  cursor: pointer;
  user-select: none;
}

/* Description */
.task-description {
  font-size: 14px;
  color: #6b7280;
  margin: 10px 0;
  flex-grow: 1;
  text-align: justify;
}

/* Status */
.task-status {
  align-self: flex-start;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

/* Status colors */
.task-status.pending {
  background: #fef3c7;
  color: #92400e;
}

.task-status.inprogress {
  background: #dbeafe;
  color: #1e40af;
}

.task-status.completed {
  background: #dcfce7;
  color: #166534;
}

.task-dates {
  /* border: 1px solid; */
  font-size: 12px;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-menu-wrapper {
  position: relative;
}

.task-owner {
  font-size: 12px;
  font-weight: 700;
  color: #374151;

}