.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
  background-color: white;
}

/* HIDDEN ON DESKTOP */
.header-left,
.header-right {
  display: none;
}

/* MOBILE */
@media (max-width: 600px) {

  .header {
    padding: 14px 24px;
  }

  .header-left,
  .header-right {
    display: flex;
  }

  .header-left {
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-purple);
  }

  .header-left .logo {
    color: var(--primary-purple);
    background-color: rgba(77, 69, 228, 0.3);
    border: 1px solid rgba(77, 69, 228, 0.3);
  }

  .header-right {
    width: 20%;
    justify-content: flex-end;
  }

  .header-right .power-icon {
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
  }
}
