.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 14px 24px;
  background-color: white;
}

.header-search {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  width: 250px;
}

.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

.header-right {
  position: relative;
}

/* Dropdown */
.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
}

.profile-menu button {
  padding: 10px 20px;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.profile-menu button:hover {
  background: #f3f4f6;
}
