.mobile-nav {
    display: none;
}

@media (max-width: 600px) {
    .mobile-nav {
        /* border: 1px solid red; */
        width: 100%;
        height: 4rem;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        box-shadow: var(--shadow-soft);
        border-radius: 1.25rem 1.25rem 0 0;
    }

    .nav_menu {
        height: 100%;
        /* border: 1px solid blue; */
        padding: 0 1rem;
        display: grid;
        align-items: center;
        transition: 0.4s;
    }

    .nav_list,
    .nav_link {
        display: flex;
    }

    .nav_link {
        /* border: 1px solid blue; */
        flex-direction: column;
        align-items: center;
        row-gap: 0.25rem;
        color: var(--text-dark);
        text-decoration: none;
        font-weight: 600;
    }

    .nav_list {
        justify-content: space-around;
        list-style-type: none;
    }

    .nav_link.active {
        text-decoration: none;
        color: var(--primary-purple);

        small {
            color: var(--primary-purple);
        }
    }

    .nav_icon{
        border-radius: 1rem;
        padding: 0.25rem 1rem;
    }
    .nav_link.active .nav_icon{
        background-color: rgb(78, 69, 228, 0.2);
    }

}