
/* .modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
} */






/* .modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
} */

#cancelBtn {
  background-color: crimson;
}
