
/* .modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
} */






/* .modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
} */

#cancelBtn {
  background-color: crimson;
}

@media (max-width: 600px) {
  .footer{
    button{
      width: 100%;
      padding: 15px 0px;
    }
  }

  .create, .edit {
    margin-top: 1rem;
  }
}
