.picture-details {
  width: 40%;
  display: flex;
  align-items: center;

  .user-text {
    margin-left: 10px;
  }

  img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 20px;

  .box {
    border: 1px solid rgba(198, 201, 204, 0.4);
    border-radius: var(--radius-lg);
    padding: 20px;
    background-color: var(--bg-light-grey);
    box-shadow: var(--shadow-soft);

    h5 {
      color: var(--text-dark);
    }
  }
}

.onboard-date {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-stats {
  /* border: 1px solid black; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  .user-task-counts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.assigned-tasks {
  h2 {
    color: blue;
  }
}

.completed-tasks {
  h2 {
    color: green;
  }
}

.user-footer {
  margin-top: 20px;
  width: 40%;
  display: flex;
  align-self: flex-end;
  justify-content: end;
  align-items: center;
}
